@use "../core/variables" as vars;

* {
    font-family: vars.$font-main;
    font-weight: bold;
}
input {
    align-self: flex-start;

    
}

.title {
    font-size: 20px;
    margin-top: 40px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {

    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.input-box {
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border-color: lightgrey;
    color: grey;
    margin-bottom: 20px;
}


.fieldset {
    color: lightgrey;
    font-weight: lighter;
}

.birthday-section {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100px 200px 100px;
    column-gap: 20px;

}

.datos-nacimiento {
    display: flex;
    flex-direction: column;
}
.radio {
    margin-right: 10px;
    width: 20px; 
    height: 20px; 

}

.genero {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
}

.checkbox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    
}

.boton-register {
    display: block;
    margin-top: 60px;
    margin-bottom: 90px;
    background-color: vars.$color-button;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: vars.$color-bg-header;
    font-size: 18px;
    font-weight: bold;
}
.boton-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}









/* }

.title {
    margin-top: 20px;

}

.personal-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    border: 0;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    
 */