@use "../core/variables" as vars;

.header {
    background-color: vars.$color-bg-header;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-family: vars.$font-main;
    font-size: 90%;
    top: 0;
    position: sticky;
    z-index: 1;
}

.hamburguer {
    display: none;
}

.logo {
    width: 120px;
    height: 35px;

}

.menu {
    display: flex;
    gap: 25px;
    color: vars.$color-main-font;  
}

/*Media quieres*/


@media (max-width: 1000px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 15px;
        text-align: center;
        gap: 15px;
    }
} 

@media (max-width: 480px) {
    
    .header {
        background-color: vars.$color-bg-header;
        font-family: vars.$font-main;
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        z-index: 1;
    }

    .hamburguer {
        display: flex;
         width: 10%;
         margin-left:auto ;
     }
     
    .logo {
        width: 120px;
        height: 35px;
    }
    
   
    .menu {
        display: none;
    }

}