@use "../core/variables" as vars;

.hero {
    background-color: vars.$color-bg-section-blue;
    padding: 30px;
    position: relative;
    background-image: url("../images/premium_dancer.png");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: right bottom;   
}

.section-blue {
    font-family: vars.$font-main;
    color: vars.$color-main-font;
}

.titulo {
    font-size: 70px;
}

.subtitulo {
   font-size: 20px;
}

.boton {
    display: block;
    margin-top: 60px;
    margin-bottom: 90px;
    background-color: vars.$color-button;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: vars.$color-main-font;
}

.texto {
    
    font-size: 10px;
    position: absolute;
    bottom: 20px;
}

.dancer {
    max-width: 100%;
    height: auto;
}


