<header class="header">
    <img  class="logo" src="./images/logo.png" alt="logo">
    <nav>
        <ul class="menu">
            <li>
                <a href="">Premium</a>
            </li>
            <li>
                <a href="">Ayuda</a>
            </li>
            <li>
                <a href="">Descarga</a>
            </li>
            <li>|</li>
            <li><a href="">Registrarme</a>
            </li>
            <li><a href="">Iniciar sesión</a>
            </li>
        </ul>
    </nav>
</header>