
<section class="section">
    
    <div class="title">
        <h1>¿Por qué pasarte a Premium?</h1>
    </div>
    <article class="article">
        <img class="img" src="/images/benefit1.png">
        <div class="slogan">
            <h1>Descarga música.</h1>
            <p>Llévala siempre contigo. </p>
        </div>
    </article>

    <article class="article">
        <img class="img" src="/images/benefit2.png">
        <div class="slogan">
            <h1>Sin anuncios.</h1>
            <p>Disfruta de música sin interrupciones. </p>
        </div>
    </article>
    <article class="article">
        <img class="img" src="/images/benefit3.png">
        <div class="slogan">
            <h1>Descarga música.</h1>
            <p>Llévala siempre contigo. </p>
        </div>
    </article>

    <article class="article">
        <img class="img" src="/images/benefit4.png">
        <div class="slogan">
            <h1>Salta todas las canciones que quieras.</h1>
            <p>Simplemente dale a siguiente. </p>
        </div>
    </article>
</section>